build_*
doxygen
files/
image/
logs/
iso/
pythonapi
source/
trace/
windows/
save/
*__pycache__*
version.txt
server.sh
nohup.out
*.blend1
print.sh
download/
log.log
irc.sh
.Trash-1000/*
.Xauthority*
.bash_history*
.bash_profile
.cache/
.ccache/
.config/
.fontconfig/
.gdrive.conf
.gdrive.confe
.gitconfig
.grive
.lesshst
.local/
.python_history
.ssh/
.subversion/
.wine/


